.user {
    background-color: #d3afa4;
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: column;
    gap: 1.2rem;
}

.user img {
    width: 140px;
    height: 140px;
    border: 4px solid #849dc0;
    border-radius: 50%;
}

.location {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.location svg {
    fill: rgb(86, 61, 109);
    font-size: 1.5rem;
}

.location span {
    color: #574237;
    font-weight: bold;
}

.stats {
    display: flex;
}

.stats div {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    gap: .4rem;
    font-weight: bold;
}

.stats div:first-child {
    border-right: 1px solid black;
}

.stats .number {
    background-color: rgb(86, 61, 109);
    padding: 0.2rem 0.4rem;
    border-radius: 3px;
}